
// Desktop & large display
$display_large_max: 1230px;
$display_large_min: 820px;

// Devices and medium size displays
$display_medium_max: 819px;
$display_medium_min: 630px;

// Handheld and small display screen
$display_small_max: 629px;
$display_small_min: 380px;

@media screen and (min-width: $display_medium_min) {
	/**
	 * 1/4
	 */
	.two-sidebars .sidebar-first,
	.two-sidebars .sidebar-second
	{
		.file-entity-half,
		.file-entity-square-half,
		.media-square-half,
		.media-half { width: 100%;}
		.file-entity-third,
		.file-entity-square-third,
		.media-square-third,
		.media-third { width: 100%;}
		.file-entity-quarter,
		.file-entity-square-quarter,
		.media-square-quarter,
		.media-quarter { width: 100%;}
		.file-entity-sixth,
		.file-entity-square-sixth,
		.media-square-sixth,
		.media-sixth { width: 66.6666666666667%;}
	}

	/**
	 * 1/2
	 */
	.two-sidebars #main-content {
		.file-entity-half,
		.file-entity-square-half,
		.media-square-half,
		.media-half { width: 100%;}
		.file-entity-third,
		.file-entity-square-third,
		.media-square-third,
		.media-third { width: 66.6666666666667%;}
		.file-entity-quarter,
		.file-entity-square-quarter,
		.media-square-quarter,
		.media-quarter { width: 50%;}
		.file-entity-sixth,
		.file-entity-square-sixth,
		.media-square-sixth,
		.media-sixth { width: 33.3333333333333%;} 
	}

// One sidebar before breaking
@media screen and (min-width: $display_large_min) {
	/**
	 * 1/3
	*/
	.one-sidebar.sidebar-first,
	.one-sidebar.sidebar-second
	{
		.file-entity-half,
		.file-entity-square-half,
		.media-square-half,
		.media-half { width: 100%;}
		.file-entity-third,
		.file-entity-square-third,
		.media-square-third,
		.media-third { width: 100%;}
		.file-entity-quarter,
		.file-entity-square-quarter,
		.media-square-quarter,
		.media-quarter { width: 75%;}
		.file-entity-sixth,
		.file-entity-square-sixth,
		.media-square-sixth,
		.media-sixth { width: 50%;} 
	}

	/**
	 * 2/3
	 */
	.one-sidebar #main-content {
		.file-entity-half,
		.file-entity-square-half,
		.media-square-half,
		.media-half { width: 75%;}
		.file-entity-third,
		.file-entity-square-third,
		.media-square-third,
		.media-third { width: 50%;}
		.file-entity-quarter,
		.file-entity-square-quarter,
		.media-square-quarter,
		.media-quarter { width: 37.5%;}
		.file-entity-sixth,
		.file-entity-square-sixth,
		.media-square-sixth,
		.media-sixth { width: 25%;} 
	}
}
}
// handheld one column view	
@media screen and (min-width: $display_small_min) and (max-width: $display_medium_max) {
	.file-entity-half,
	.file-entity-square-half,
	.media-square-half,
	.media-half { width: 50%;}
	.file-entity-third,
	.file-entity-square-third,
	.media-square-third,
	.media-third { width: 33.33333333333333%;}
	.file-entity-quarter,
	.file-entity-square-quarter,
	.media-square-quarter,
	.media-quarter { width: 25%;}
	.file-entity-sixth,
	.file-entity-square-sixth,
	.media-square-sixth,
	.media-sixth { width: 0.16666666666666%;}
}

// This is the mobile
@media screen and (max-width: $display_small_min) {
	.file-entity-half,
	.file-entity-square-half,
	.media-square-half,
	.media-half { width: 100%;}
	.file-entity-third,
	.file-entity-square-third,
	.media-square-third,
	.media-third { width: 100%;}
	.file-entity-quarter,
	.file-entity-square-quarter,
	.media-square-quarter,
	.media-quarter { width: 50%;}
	.file-entity-sixth,
	.file-entity-square-sixth,
	.media-square-sixth,
	.media-sixth { width: 25%;}	
}

//I think this is the one where one column drops down...
@media screen and (min-width: $display_medium_min) and (max-width: $display_medium_max) {
	/**
	 * 1/3
	 */
	.two-sidebars .sidebar-first
	{
	.file-entity-half,
	.file-entity-square-half,
	.media-square-half,
	.media-half { width: 100%;}
	.file-entity-third,
	.file-entity-square-third,
	.media-square-third,
	.media-third { width: 100%;}
	.file-entity-quarter,
	.file-entity-square-quarter,
	.media-square-quarter,
	.media-quarter { width: 75%;}
	.file-entity-sixth,
	.file-entity-square-sixth,
	.media-square-sixth,
	.media-sixth { width: 50%;} 
	}

	/**
	 * 2/3
	 */
	.two-sidebars #main-content {
		.file-entity-half,
		.file-entity-square-half,
		.media-square-half,
		.media-half { width: 75%;}
		.file-entity-third,
		.file-entity-square-third,
		.media-square-third,
		.media-third { width: 50%;}
		.file-entity-quarter,
		.file-entity-square-quarter,
		.media-square-quarter,
		.media-quarter { width: 37.5%;}
		.file-entity-sixth,
		.file-entity-square-sixth,
		.media-square-sixth,
		.media-sixth { width: 25%;} 
	}

	/**
	 * 1/1
	 */
	.two-sidebars .sidebar-second
	{
		.file-entity-half,
		.file-entity-square-half,
		.media-square-half,
		.media-half { width: 50%;}
		.file-entity-third,
		.file-entity-square-third,
		.media-square-third,
		.media-third { width: 33.33333333333333%;}
		.file-entity-quarter,
		.file-entity-square-quarter,
		.media-square-quarter,
		.media-quarter { width: 25%;}
		.file-entity-sixth,
		.file-entity-square-sixth,
		.media-square-sixth,
		.media-sixth { width: 0.16666666666666%;}
	}
}

.media img {
	margin: 5px 0 5px 0;
}

.ucsf-images-wrapping-left {
	margin-right: 5px;
}

.ucsf-images-wrapping-right {
	margin-left: 5px;
}