@media screen and (min-width: 630px) {
  /**
   * 1/4
   */
  /* line 24, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-half,
  .two-sidebars .sidebar-first .file-entity-square-half,
  .two-sidebars .sidebar-first .media-square-half,
  .two-sidebars .sidebar-first .media-half,
  .two-sidebars .sidebar-second .file-entity-half,
  .two-sidebars .sidebar-second .file-entity-square-half,
  .two-sidebars .sidebar-second .media-square-half,
  .two-sidebars .sidebar-second .media-half {
    width: 100%;
  }
  /* line 28, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-third,
  .two-sidebars .sidebar-first .file-entity-square-third,
  .two-sidebars .sidebar-first .media-square-third,
  .two-sidebars .sidebar-first .media-third,
  .two-sidebars .sidebar-second .file-entity-third,
  .two-sidebars .sidebar-second .file-entity-square-third,
  .two-sidebars .sidebar-second .media-square-third,
  .two-sidebars .sidebar-second .media-third {
    width: 100%;
  }
  /* line 32, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-quarter,
  .two-sidebars .sidebar-first .file-entity-square-quarter,
  .two-sidebars .sidebar-first .media-square-quarter,
  .two-sidebars .sidebar-first .media-quarter,
  .two-sidebars .sidebar-second .file-entity-quarter,
  .two-sidebars .sidebar-second .file-entity-square-quarter,
  .two-sidebars .sidebar-second .media-square-quarter,
  .two-sidebars .sidebar-second .media-quarter {
    width: 100%;
  }
  /* line 36, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-sixth,
  .two-sidebars .sidebar-first .file-entity-square-sixth,
  .two-sidebars .sidebar-first .media-square-sixth,
  .two-sidebars .sidebar-first .media-sixth,
  .two-sidebars .sidebar-second .file-entity-sixth,
  .two-sidebars .sidebar-second .file-entity-square-sixth,
  .two-sidebars .sidebar-second .media-square-sixth,
  .two-sidebars .sidebar-second .media-sixth {
    width: 66.6666666666667%;
  }

  /**
   * 1/2
   */
  /* line 46, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-half,
  .two-sidebars #main-content .file-entity-square-half,
  .two-sidebars #main-content .media-square-half,
  .two-sidebars #main-content .media-half {
    width: 100%;
  }
  /* line 50, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-third,
  .two-sidebars #main-content .file-entity-square-third,
  .two-sidebars #main-content .media-square-third,
  .two-sidebars #main-content .media-third {
    width: 66.6666666666667%;
  }
  /* line 54, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-quarter,
  .two-sidebars #main-content .file-entity-square-quarter,
  .two-sidebars #main-content .media-square-quarter,
  .two-sidebars #main-content .media-quarter {
    width: 50%;
  }
  /* line 58, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-sixth,
  .two-sidebars #main-content .file-entity-square-sixth,
  .two-sidebars #main-content .media-square-sixth,
  .two-sidebars #main-content .media-sixth {
    width: 33.3333333333333%;
  }
}
@media screen and (min-width: 630px) and (min-width: 820px) {
  /**
   * 1/3
  */
  /* line 72, ucsf-starterkit-images-responsive.scss */
  .one-sidebar.sidebar-first .file-entity-half,
  .one-sidebar.sidebar-first .file-entity-square-half,
  .one-sidebar.sidebar-first .media-square-half,
  .one-sidebar.sidebar-first .media-half,
  .one-sidebar.sidebar-second .file-entity-half,
  .one-sidebar.sidebar-second .file-entity-square-half,
  .one-sidebar.sidebar-second .media-square-half,
  .one-sidebar.sidebar-second .media-half {
    width: 100%;
  }
  /* line 76, ucsf-starterkit-images-responsive.scss */
  .one-sidebar.sidebar-first .file-entity-third,
  .one-sidebar.sidebar-first .file-entity-square-third,
  .one-sidebar.sidebar-first .media-square-third,
  .one-sidebar.sidebar-first .media-third,
  .one-sidebar.sidebar-second .file-entity-third,
  .one-sidebar.sidebar-second .file-entity-square-third,
  .one-sidebar.sidebar-second .media-square-third,
  .one-sidebar.sidebar-second .media-third {
    width: 100%;
  }
  /* line 80, ucsf-starterkit-images-responsive.scss */
  .one-sidebar.sidebar-first .file-entity-quarter,
  .one-sidebar.sidebar-first .file-entity-square-quarter,
  .one-sidebar.sidebar-first .media-square-quarter,
  .one-sidebar.sidebar-first .media-quarter,
  .one-sidebar.sidebar-second .file-entity-quarter,
  .one-sidebar.sidebar-second .file-entity-square-quarter,
  .one-sidebar.sidebar-second .media-square-quarter,
  .one-sidebar.sidebar-second .media-quarter {
    width: 75%;
  }
  /* line 84, ucsf-starterkit-images-responsive.scss */
  .one-sidebar.sidebar-first .file-entity-sixth,
  .one-sidebar.sidebar-first .file-entity-square-sixth,
  .one-sidebar.sidebar-first .media-square-sixth,
  .one-sidebar.sidebar-first .media-sixth,
  .one-sidebar.sidebar-second .file-entity-sixth,
  .one-sidebar.sidebar-second .file-entity-square-sixth,
  .one-sidebar.sidebar-second .media-square-sixth,
  .one-sidebar.sidebar-second .media-sixth {
    width: 50%;
  }

  /**
   * 2/3
   */
  /* line 94, ucsf-starterkit-images-responsive.scss */
  .one-sidebar #main-content .file-entity-half,
  .one-sidebar #main-content .file-entity-square-half,
  .one-sidebar #main-content .media-square-half,
  .one-sidebar #main-content .media-half {
    width: 75%;
  }
  /* line 98, ucsf-starterkit-images-responsive.scss */
  .one-sidebar #main-content .file-entity-third,
  .one-sidebar #main-content .file-entity-square-third,
  .one-sidebar #main-content .media-square-third,
  .one-sidebar #main-content .media-third {
    width: 50%;
  }
  /* line 102, ucsf-starterkit-images-responsive.scss */
  .one-sidebar #main-content .file-entity-quarter,
  .one-sidebar #main-content .file-entity-square-quarter,
  .one-sidebar #main-content .media-square-quarter,
  .one-sidebar #main-content .media-quarter {
    width: 37.5%;
  }
  /* line 106, ucsf-starterkit-images-responsive.scss */
  .one-sidebar #main-content .file-entity-sixth,
  .one-sidebar #main-content .file-entity-square-sixth,
  .one-sidebar #main-content .media-square-sixth,
  .one-sidebar #main-content .media-sixth {
    width: 25%;
  }
}
@media screen and (min-width: 380px) and (max-width: 819px) {
  /* line 115, ucsf-starterkit-images-responsive.scss */
  .file-entity-half,
  .file-entity-square-half,
  .media-square-half,
  .media-half {
    width: 50%;
  }

  /* line 119, ucsf-starterkit-images-responsive.scss */
  .file-entity-third,
  .file-entity-square-third,
  .media-square-third,
  .media-third {
    width: 33.33333333333333%;
  }

  /* line 123, ucsf-starterkit-images-responsive.scss */
  .file-entity-quarter,
  .file-entity-square-quarter,
  .media-square-quarter,
  .media-quarter {
    width: 25%;
  }

  /* line 127, ucsf-starterkit-images-responsive.scss */
  .file-entity-sixth,
  .file-entity-square-sixth,
  .media-square-sixth,
  .media-sixth {
    width: 0.16666666666666%;
  }
}
@media screen and (max-width: 380px) {
  /* line 135, ucsf-starterkit-images-responsive.scss */
  .file-entity-half,
  .file-entity-square-half,
  .media-square-half,
  .media-half {
    width: 100%;
  }

  /* line 139, ucsf-starterkit-images-responsive.scss */
  .file-entity-third,
  .file-entity-square-third,
  .media-square-third,
  .media-third {
    width: 100%;
  }

  /* line 143, ucsf-starterkit-images-responsive.scss */
  .file-entity-quarter,
  .file-entity-square-quarter,
  .media-square-quarter,
  .media-quarter {
    width: 50%;
  }

  /* line 147, ucsf-starterkit-images-responsive.scss */
  .file-entity-sixth,
  .file-entity-square-sixth,
  .media-square-sixth,
  .media-sixth {
    width: 25%;
  }
}
@media screen and (min-width: 630px) and (max-width: 819px) {
  /**
   * 1/3
   */
  /* line 160, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-half,
  .two-sidebars .sidebar-first .file-entity-square-half,
  .two-sidebars .sidebar-first .media-square-half,
  .two-sidebars .sidebar-first .media-half {
    width: 100%;
  }
  /* line 164, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-third,
  .two-sidebars .sidebar-first .file-entity-square-third,
  .two-sidebars .sidebar-first .media-square-third,
  .two-sidebars .sidebar-first .media-third {
    width: 100%;
  }
  /* line 168, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-quarter,
  .two-sidebars .sidebar-first .file-entity-square-quarter,
  .two-sidebars .sidebar-first .media-square-quarter,
  .two-sidebars .sidebar-first .media-quarter {
    width: 75%;
  }
  /* line 172, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-first .file-entity-sixth,
  .two-sidebars .sidebar-first .file-entity-square-sixth,
  .two-sidebars .sidebar-first .media-square-sixth,
  .two-sidebars .sidebar-first .media-sixth {
    width: 50%;
  }

  /**
   * 2/3
   */
  /* line 182, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-half,
  .two-sidebars #main-content .file-entity-square-half,
  .two-sidebars #main-content .media-square-half,
  .two-sidebars #main-content .media-half {
    width: 75%;
  }
  /* line 186, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-third,
  .two-sidebars #main-content .file-entity-square-third,
  .two-sidebars #main-content .media-square-third,
  .two-sidebars #main-content .media-third {
    width: 50%;
  }
  /* line 190, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-quarter,
  .two-sidebars #main-content .file-entity-square-quarter,
  .two-sidebars #main-content .media-square-quarter,
  .two-sidebars #main-content .media-quarter {
    width: 37.5%;
  }
  /* line 194, ucsf-starterkit-images-responsive.scss */
  .two-sidebars #main-content .file-entity-sixth,
  .two-sidebars #main-content .file-entity-square-sixth,
  .two-sidebars #main-content .media-square-sixth,
  .two-sidebars #main-content .media-sixth {
    width: 25%;
  }

  /**
   * 1/1
   */
  /* line 205, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-second .file-entity-half,
  .two-sidebars .sidebar-second .file-entity-square-half,
  .two-sidebars .sidebar-second .media-square-half,
  .two-sidebars .sidebar-second .media-half {
    width: 50%;
  }
  /* line 209, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-second .file-entity-third,
  .two-sidebars .sidebar-second .file-entity-square-third,
  .two-sidebars .sidebar-second .media-square-third,
  .two-sidebars .sidebar-second .media-third {
    width: 33.33333333333333%;
  }
  /* line 213, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-second .file-entity-quarter,
  .two-sidebars .sidebar-second .file-entity-square-quarter,
  .two-sidebars .sidebar-second .media-square-quarter,
  .two-sidebars .sidebar-second .media-quarter {
    width: 25%;
  }
  /* line 217, ucsf-starterkit-images-responsive.scss */
  .two-sidebars .sidebar-second .file-entity-sixth,
  .two-sidebars .sidebar-second .file-entity-square-sixth,
  .two-sidebars .sidebar-second .media-square-sixth,
  .two-sidebars .sidebar-second .media-sixth {
    width: 0.16666666666666%;
  }
}
/* line 221, ucsf-starterkit-images-responsive.scss */
.media img {
  margin: 5px 0 5px 0;
}

/* line 225, ucsf-starterkit-images-responsive.scss */
.ucsf-images-wrapping-left {
  margin-right: 5px;
}

/* line 229, ucsf-starterkit-images-responsive.scss */
.ucsf-images-wrapping-right {
  margin-left: 5px;
}
